<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Blog</title>
</head>
<body>
    <h1>Welcome to the Blog</h1>
    <ul>
        {% for post in posts %}
            <li>
                <strong>{{ post.title }}</strong><br>
                {{ post.content }}<br>
                <em>Published {{ post.created_at|date:"Y-m-d H:i" }}</em>
            </li>
        {% empty %}
            <li>No posts yet!</li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_post' %}">Create a New Post</a>
</body>
</html>